[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyspark-stubs = "*"

[packages]
pypfb = {ref = "0.3.1",git = "https://github.com/uc-cdis/pypfb.git",editable = true}
dictionaryutils = "*"
fastavro = "*"
requests = "*"
psycopg2-binary = "*"
pyspark = "*"
psutil = "*"
boto3 = "*"
gdcdatamodel = "*"
psqlgraph = "==2.0.2"
functools32 = "==3.2.3-2"

[requires]
python_version = "2.7"
